*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generics */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
}

.container-images{
    display: flex;
    justify-content: center;
    align-items: center;
} 
    
#carousel .gallery{
    display: none;
} 

#carousel .gallery.active{
    display: block;
}

#thumb{
    height: 500px;
    width: 300px;
}

#thumb img.selected{
    border: 4px solid #cca300;
}

 /* Images */
img{
    width: 100%;
    display: block;
    border-radius: 2px;
    object-fit: cover;
    cursor: pointer;
}

.gallery img{
    height: 100%;
}

#thumb img{
    height: 20%;
}

#thumb img:hover{
   border-radius: 5px;
   transform: translate(2px, 2px);
}


/* Gallery Elements */
.gallery{
    height: 500px;
    width: 1200px;
    margin: 30px auto;
}

.gallery{
    position: relative;
}

.title{
    position: absolute;
    right: 0;
    bottom: 50px;
    padding: 0 30px;
    color: white;
    text-shadow: 2px 2px black;
    text-align: right;
}

.title p{
    font-size: 25px;
}

.title h1{
    font-size: 40px;
}


/* Button */
#prev-image, 
#next-image{
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}


.autoplay{
    margin-top: 1.5rem;
    cursor: pointer;
        
}

#btn-autoplay,
#btn-reverse-autoplay{
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

#btn-autoplay{
    background-color: dodgerblue;
    margin-right: 5px;
}
